//PAGE BLOCK:

.page {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  position: relative;

  &__body {
    background: $main-bg-color;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    transform: translateX(-100%);
  }

  &__main {
    @include container;
  }

  &__title {
    width: max-content;

    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: $color-white;
    align-self: center;
    margin: 0 auto 48px;

    &--contacts {
      font-weight: 700;
      font-size: 48px;
    }

    //crown icon
    //&::after {
    //  content: "";
    //  @include icon-square(24px);
    //
    //  margin: 0 auto 32px;
    //
    //  display: block;
    //  background-image: url("../images/crown.svg");
    //  background-repeat: no-repeat;
    //  background-size: contain;
    //  background-position: center;
    //}
  }

  &__section {
    margin-bottom: 64px;

    @include onDesktop {
      margin-bottom: 104px;
    }
  }
}
